:443 {
	tls internal

	handle /auth/* {
		reverse_proxy backend:4000
	}
	handle /api/* {
		reverse_proxy backend:4000
	}
	handle /graphql* {
		reverse_proxy backend:4000
	}
	handle {
		reverse_proxy frontend:3000
	}
}
