DATABASE_URL=postgresql://postgres:postgres@db:5432/honeyintranet
MONGO_URL=mongodb://mongo:27017
REDIS_URL=redis://redis:6379
JWT_SECRET=cambia_esto_por_un_secreto_largo_y_random
INTERNAL_BACKEND_URL=http://backend:4000
DOCKER_NETWORK=honey-intranet_default
NODE_ENV=development
PORT=4000
GOOGLE_CLIENT_ID=
